/* ==========================================================================
  Base Typography Styles
  ========================================================================== */


/* ==========================================================================
   Base Type
   ========================================================================== */
*{
    &::-moz-focus-inner {
      border: 0;
    }
    &:focus,&:active,&:hover{
      &::-moz-focus-inner {
        border: 0;
      }
      outline: 0;
    }
}

html {
  @include font-rem($baseFontSize, 24px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $bodyFont;
  @include font-rem($baseFontSize, 24px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
textarea {
  font-family: $bodyFont;
}

/* ==========================================================================
   Headings and paragraph
   ========================================================================== */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $otherFont;
  font-style: normal;
}

h1.page-title {
    position: relative;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 30px;
}