*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
    background-color: color(background, base);
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1320px;
    margin: auto;

    @media (max-width: 1400px) {
        max-width: 1140px;
    }

    @include bp(desktop-sm) {
        max-width: 890px;
        padding: 0 25px;
        max-width: 960px;
    }

    @include bp(tablet-sm) {
        max-width: 720px;
    }

    @include bp(mobile) {
        max-width: 100%;
    }
}

img {
    max-width: 100%;
}

div#loadmore {
    height: 60px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    img {
        max-height: 100%;
    }
}